Assets/__pycache__/__init__.cpython-38.pyc
GameTools/__pycache__/__init__.cpython-38.pyc
Assets/__pycache__/Player.cpython-38.pyc
GameTools/__pycache__/Dice.cpython-38.pyc
Assets/__pycache__/Character.cpython-38.pyc
Assets/__pycache__/Characters.cpython-38.pyc
.vscode/settings.json
Assets/__pycache__/__init__.cpython-37.pyc
Assets/__pycache__/Characters.cpython-37.pyc
